.open {
  transform: translateX(0%);
  transition: 0.5s;
}

.sidenav {
  transition: 0.5s;
  color: rgba(0,0,0,0.87);
}

.sidenav-trigger:hover {
  cursor: pointer;
}

.sidenav li {
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
}

.sidenav li:hover {
  background-color: rgba(38, 166, 153, 0.188);
  transition: 0.3s;
}

.sidenav div i {
  display: block;
  color: white;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  width: fit-content;
  margin: 10px 20px 7px auto;
  background-color: rgba(38, 166, 153, 0.838);
  height: 40px;
}

.fullnav li {
  color: #444;
  padding: 0 15px;
  cursor: pointer;
  transition: 0.3s;
}

.fullnav li:hover {
  background-color: rgba(38, 166, 153, 0.188);
  transition: 0.3s;
}