.opinions {
  position: relative;
  z-index: 10;
  text-align: center;
  margin: 2.5rem auto;
  position: relative;
  width: 100%;
}

.opinions h4 {
  color: #4db6ac;
}

.slider {
  max-width: 1300px;
  padding: 2rem;
  height: 250px;
  margin: 1rem;
  overflow: hidden;
}

.slide {
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.slide-card {
  width: 75%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  overflow: hidden;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.3rem;
  cursor: grabbing;
}
.slide-card p:first-child {
  margin: auto;
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
  color: white;
  z-index: 200;
  padding: 0 5px;  
}

.slider .swiper-button-prev {
  transform: translateX(-10px);
 }

.slider .swiper-button-next {
 transform: translateX(10px);
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(255, 255, 255, 0.627);
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

@media screen and (max-width: 640px) {

  .slide {
 
    width: 100px;
  }

  .slide-card {
    
    width: 80%;
    height: 150px;
    line-height: 1.3rem;

  } 
}

@media screen and (max-width: 768px) {
  .slide {
 
    width: 100px;
  }
}